@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

:root{
    --header-nav-color1: #4686AA;
    --header-nav-color2: #095048;
    --accent-main: #DB8E54;
    --accent-light: #DBA175;
    --accent-dark: #813F0E;
    --content-width: 960px;
}

body, h1, h2, h3, picture {
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

#promo-banner{
    display:none;
    background-color: yellow;
    border-bottom: 1px solid var(--accent-dark);
    padding:1em;
}

nav{
    background: linear-gradient(var(--header-nav-color1),var(--header-nav-color2));
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

nav button{
    display:block;
    margin: .2rem auto;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: rgba(255,255,255,0.9);
}

nav button:hover{
    cursor:pointer;
}

nav ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none; 
    color: rgba(255,255,255,0.9);
    border-top: 1px solid rgba(0,0,0,.3);
}

nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color:#FFF;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.4);
    cursor:pointer;
}

nav ul.hide{
    display: none;
}

header{
    display:flex;
    background-color: var(--header-color);
    align-items: center;
    flex-direction: row wrap;
}

header picture{
    margin: 1rem;
}

header picture img{
    height:100%;
}

.title{
    text-align: left;
}

.title h2{
    font-weight: bold;
}

.city-name{
    padding: 1rem;
    text-align:center;
}

.img-container{
    max-height:400px;
    overflow: hidden;
}

.img-container img{
    border-radius:.2rem;
    box-shadow: 0px 0px 15px rgba(0,0,0,.8);
    width:100%;
}

main {
    position:relative;
    margin:auto;
    max-width: var(--content-width);
}

.weather-summary{
    margin:auto;
    background:linear-gradient(rgba(255,255,255,0.5), #fff);
    max-width: 15em;
    line-height:1.5;
}

#summary-data {
    padding:1em;
    font-size:12pt;
    display:block;
    text-align:center;
}

#five-day-forecast{
    display:none;
    margin:2em auto;
    grid-template-columns: repeat(5, 1fr);
}

.forecast-day{
    text-align:center;
}

.forecast-day img{
    width: 100%;
}

main .hero-section .weather-summary p{
    font-size:12pt;
}

.editorial{
    position:relative;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: auto;
    padding: 1rem;
    background-color: #F7F7F7;
    overflow: hidden;
}

.editorial p{
    font-size:1rem;
    line-height:1.5;
}

.editorial .article-content{
    display: grid;
    overflow: hidden;
}


.editorial picture img{
    width: 100%;
}

footer{
    padding:0;
    color: #fff;
    border-top: 2px solid darkgray;
    background-color:slategray;
    text-align:center;
}

footer a{
    text-decoration:none;
    text-overflow:hidden;
    color:blue;
}

footer a:hover{
    color: lightsteelblue;
    cursor: pointer;
}

footer picture{
    overflow:hidden;
}

footer picture img{
    box-shadow: 0px 0px 15px rgba(0,0,0,.8);
    width:100%;
}

.contact-info p{
    padding:1rem;
}

.contact-info picture{
    display: none;
}

.contact-info picture img{
    max-width: 500px;
}

.footer-bar{
    text-align:center;
    padding: 3em;
}

/* Clearfix */
.clearfix:after{
    content:"";
    display: table;
    clear: both;
}

/* Gallery */

figure{
    min-height: 5em;
}

.gallery-content{
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr;
}

.gallery-content [data-img]{
    border:1px solid pink;
    min-width: 50px;
    min-height: 50px;
}

.gallery-content img{
    width: 100%;
}

.gallery-content figcaption{
    padding: .5em;
}

.gallery-content figure:hover{
    cursor:pointer;
    box-shadow: 0 0 20px 5px rgba(0,0,0,.3);
    transition: box-shadow .2s ease-in-out;
}


/* Form */

form fieldset {
    display: block;
    margin: 1rem;
    border: 1px solid #777;
    border-radius: .5rem;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label{ 
    display:block; 
    padding: .3rem;
    width: 86%;
}

form label.top input, 
form label.top select{
    -webkit-appearance: none;
    appearance: none;
    display: block;
    font-size:18px;
    padding: .5em;
    width:100%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: red solid 4px;
}

form label.top input:required:valid {
    border-left: green solid 4px;
}

form input.submitBtn{
    border: none;
    background-color: var(--accent-main);
    color: #FFF;
    border-radius: .5rem;
    padding: 1.5rem 2rem;
    margin: 1rem;
    width:92%;
}

form input.submitBtn:hover{
    background-color: var(--accent-light);
    cursor: pointer;
}

main form h1, main form h2{
    padding:2% .2rem;
    text-align:center;
}
