@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

/* CSS FOR Site Plan */

html{
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
}

main, nav, section, footer {
    margin:auto;
    max-width:900px;
}

.instructions{
    background-color: lightgoldenrodyellow;
    border:1px solid lightgray;
    margin:1em;
    padding:.5em;
    font-size:10pt;
}

.site-header{
    text-align:center;
    border-bottom:1px solid lightgray;
}

nav{
    margin:auto;
    display:flex;
}

/* grid-template-columns for nav are controlled by javascript */
.site-nav{
    margin:auto;
    padding:0;
    list-style-type:none;
    display:grid;
    text-align:center;
}

.site-nav li{
    display:grid;
    background-color:gray;
}
.site-nav a {

    padding:1em;
    text-decoration:none;
    color:#FFF;
}

.site-nav a:hover{
    background-color:lightslategray;
    cursor:pointer;
}

.site-nav .active{
    background-color: #0F0F0F;
    color:white;
}

.site-nav .active a:hover{
    background-color: #0F0F0F;
    color:silver;
}

.img-container{
    width:90%;
    margin:auto;
    overflow:hidden;
}

.img-container img{
    width:100%;
}

main section {
    background-color: #fff;
    padding: .4em;
}

main section h2{
    border-bottom: 1px solid slategray;
    color:lightslategrey;
    padding:.5em;
}

main section ol li{
    padding:.5em;
}

.personas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#logo .img-container{
    width:200px;
}