@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

/* CSS FOR Site Plan */

.instructions{
    background-color: lightgoldenrodyellow;
    border:1px solid lightgray;
    margin:1em;
    padding:.5em;
    font-size:10pt;
}

html{
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
}

main, nav, section, footer {
    margin:auto;
    max-width:900px;
}

.site-header{
    text-align:center;
    border-bottom:1px solid lightgray;
}

nav{
    margin:auto;
}

.site-nav{
    padding:1em;
    background-color:gray;
    list-style-type:none;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    text-align:center;
}

.site-nav a {
    scroll-behavior:smooth;
    text-decoration:none;
    color:#FFF;
    padding:1em;
}

.site-nav a:hover{
    color:black;
    cursor:pointer;
}

.img-container{
    width:90%;
    margin:auto;
    overflow:hidden;
}

.img-container img{
    width:100%;
}

main section {
    background-color: #fff;
    padding: .4em;
}

main section h2{
    border-bottom: 1px solid slategray;
    color:lightslategrey;
    padding:.5em;
}

main section ol li{
    padding:.5em;
}

.personas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}