main label{
    text-align:left;
    padding:.5em;
}

main input{
    position:relative;
    float:right;
    top:-.5em;
    width:40%;
    text-align:right;
}

.output input{
    position:relative;
    padding-right:.75em;
    top:-2.5em;
    right: 10px;
    width:36.5%;
    float:right;
    text-align:right;
}

.output button{
    position:relative;
    left: -10px;
    width:50%;
}