.checkout-table {
    padding: 1em;
}

.checkout-table tr {
    background: white;
}

.code {
    padding: 2em;
    max-width: 960px;
    font-size: 10pt;
    display: flex;
    flex-flow: row;
    margin: auto;
}

.gist-it-gist {
    margin: 10px;
    background-color: #FFF;
    text-align: left;
    flex: 1;
    width: 50%;
}

#templeData, .output-data {
    border-collapse: collapse;
    margin: 5px auto;
}

#templeData th, .output-data th{
    background-color: #444;
    color: #FFF;
}

#templeData th,
#templeData td,
.output-data th,
.output-data td {
    border: 1px solid #999;
    padding: 7px;
}

#templeData tr:nth-child(odd) {
    background-color: #fff
}

#templeData tr:nth-child(even) {
    background-color: #bed
}

.output-data{
    font-weight:bold;
}