@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

:root{
    --header-nav-color1: #4686AA;
    --header-nav-color2: #095048;
    --button-main: #DB8E54;
    --button-hover: #DBA175;
    --button-press: #813F0E;
    --content-width: 960px;
}

body, h1, h2, h3, picture {
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: rgba(255,255,255,0.9);
}

nav{
    background: linear-gradient(var(--header-nav-color1),var(--header-nav-color2));
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

nav ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none; 
    color: rgba(255,255,255,0.9);
    border-top: 1px solid rgba(0,0,0,.3);
}

nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color:#FFF;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.4);
    cursor:pointer;
}

nav ul.hide{
    display: none;
}

header{
    padding:0;
    display:flex;
    background-color: var(--header-color);
    align-items: center;
    flex-direction: row wrap;
}

header picture{
    margin: 1rem;
}

header picture img{
    height:100%;
}

.title{
    text-align: left;
}

.title h2{
    font-weight: bold;
}

.city-name{
    padding: 1rem;
    text-align:center;
}

.img-container{
    box-shadow: 0px 0px 15px rgba(0,0,0,.8);
    border-radius:.2rem;
    margin:1rem;
    max-height:300px;
    overflow:hidden;
}

.img-container img{
    width:100%;
}

main {
    position:relative;
    margin:auto;
    max-width: var(--content-width);
    background-color: rgba(0,255,255, 0.1);
}

.hero-information{
    position: absolute;
    background:linear-gradient(rgba(255,255,255,0.5), #fff);
    padding: 1em;
    left: 4rem;
    top: 9.5rem;
    max-width: 15em;
}

.temperature {
    padding:1em;
    font-size:24pt;
    display:block;
    text-align:center;
}

main .hero-section .hero-information p{
    font-size:12pt;
}

.editorial{
    position:relative;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 5rem auto;
    padding: 1rem;
    background-color: #F7F7F7;
}

.editorial p{
    font-size:.75rem;
    line-height:1.5;
}

.editorial picture img{
    width: 100%;
}

footer{
    padding:0;
    color: #fff;
    border-top: 2px solid darkgray;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color:slategray;
}

footer a{
    text-decoration:none;
    text-overflow:hidden;
    color:blue;
}

footer a:hover{
    color: lightsteelblue;
    cursor:pointer;
}

footer .img-container{
    margin:auto;
}
footer .contact-info{
    max-width: var(--content-width);
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin:auto; 
}

.contact-info p{
    padding:1rem;
}

.footer-bar{
    text-align:center;
    padding: 3em;
}


/* Clearfix */
.clearfix:after{
    content:"";
    display: table;
    clear: both;
}
