/* Small Screen */
body, h2, img, main, header, footer, div, p{
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    line-height: 1.5;
}

header{
    text-align:center;
    border-bottom: 1px solid navy;
}

div.cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

div.cards h2{
    color: navy;
    padding: 1rem 0 0 0;
    font-size: 18pt;
    text-align:center;
}

div.cards p{
    text-align:center;
}

div.cards section{
    border-radius: .2em;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
    margin: .5rem;
    padding:1rem;
}

div.cards img{
    width: 100%;
}

footer{
    text-align:center;
}


@media only screen and (min-width: 35em){

    /* Medium Screen */
    div.cards{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (min-width: 64rem){

    /* Large Style */
    div.cards{
        grid-template-columns: repeat(4, 1fr);
    }
}