@media only screen and (min-width: 64rem){

    nav button {
        display: none;
    }

    nav ul.hide{
        display: block;
    }

    nav ul{
        margin-left:2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a{
        border:none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 1rem;
    }

    main{
        max-width: 960px;
        padding: auto 2%;
    }

    #five-day-forecast{
        display:grid;
    }

    .forecast-day{
        background-color: #FFF;
        border-radius:.5em;
        box-shadow:0 0 10px var(--accent-main);
        margin:1em;
        padding:1em;
    }

    .forecast-day img{
        margin-top:2em;
        width:50%;
    }

    .contact-info picture{
        display: block;
    }

    .editorial .article-content{
        height:100%;
        padding-top: 5.5em;
        top:0;
        right: 1em;
        position: absolute;
        grid-template-columns:1fr 1fr;

    }

    .editorial .article-content p {
        background-color: rgba(255,255,255,.6); 
        padding: 1em;  
        height: 100%;
        order:1;        
    }

    .editorial .article-content picture{
        order:1;
    }

    .editorial .article-content picture img{
        width: '';
        height:100%;
    }
}