/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* START body rules */
body {
    font-family: $serifFamily;
    font-size: 16px;
}

header, ul, li{
  margin:0;
  padding:0;
}
/* END body rules */

/* START header rules */
header{
  background: $headerColor; 
  padding: 0;
  border-bottom: 2px solid $accentColor;
  display:grid;
  color: $headerTitleColor;
  text-align:center;
  font-family: $sansFamily;
  .img-container{
    margin-top: .5em;
    img{
      height:50px;
    }
  }
  button{
    display:block;
    border: 0;
    background: rgba(0,0,0,0);
    font-size: 18pt;
    color: $headerTitleColor;
  }
  button:hover{
    background-color: $linkHoverColor;
    cursor: pointer;
  }
  transition: all 1s;
}

header.scrolled{
  background-color: white;
  grid-template-columns: 1fr 5fr .5fr;
  padding-left:1em;
  text-align: left;
  color: #000;
  transition: all 1s;
}

/* BEGIN Top Navigation */
#top-nav{
  margin:0;
  padding:0;
  ul{
    margin:0;
    padding:0;
    list-style-type: none;
  }
  li{
    margin:0;
    padding:0;
    a{
      padding:.5em;
      display:block;
      text-align: center;
      text-decoration: none;
      color: black;
      font-size: 14pt;
      &:hover{
        cursor: pointer;
        background-color: $linkHoverColor;
        color:green;
      }
    }
  }
}

.hidden{
  display:none;
}
/* END header rules */

/* START main rules */
main{
  margin: auto;
  padding: 1em;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}