/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* START body rules */
body {
  font-family: $serifFamily;
  font-size: 16px;
}

header,
ul,
li {
  margin: 0;
  padding: 0;
}

/* END body rules */

/* START header rules */
header {
  background: $headerColor;
  padding: 0;
  border-bottom: 2px solid $accentColor;
  display: grid;
  color: $headerTitleColor;
  text-align: center;
  font-family: $sansFamily;

  h2{
    padding:.5em;
    font-size: 14pt;
  }

  .img-container {
    margin-top: .5em;

    img {
      height: 50px;
    }
  }

  button {
    display: block;
    padding: 0 1em;
    border: 0;
    background: rgba(0, 0, 0, 0);
    font-size: 18pt;
    color: $headerTitleColor;

    &:hover {
      background-color: $linkHoverColor;
      cursor: pointer;
    }

    transition: all 1s;

  }

  &.scrolled {
    position: fixed;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    grid-template-columns: 1fr 5fr .5fr;
    padding-left: 1em;
    text-align: left;
    color: #000;
    transition: all 1s;

    button {
      padding: 0 1em;
      color: #000;
    }
  }
}

/* BEGIN Top Navigation */
#top-nav {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0;

    a {
      padding: 1em;
      display: block;
      text-align: center;
      text-decoration: none;
      color: black;
      font-size: 14pt;

      &:hover {
        cursor: pointer;
        background-color: $linkHoverColor;
        color: green;
      }
    }
  }

  &.scrolled {
    padding-top:150px;
    display:block;
  }
}

.hidden {
  display: none;
}

/* START main rules */
main {
  margin: auto;
  max-width: 1200px;
  #main-banner{
    overflow:hidden;
    text-align:center;
    picture{
      width:100%;
      margin: auto;
    }
  }
}

button{
  &.btn-accent{
    background-color: #FFF;
    padding: 1em;
    border: 2px solid $accentColor;
    border-radius: .1em;
    color: $accentColor;
    &:hover{
      background-color: $accentColor;
      color: #FFF;
      cursor: pointer;
    }
  }
}

/*temporary use while developing footer*/
.spacer {
  height: 500px;
}

footer {
  border-top: 2px solid $footerBorderColor;
  background-color: $footerBackground;
  height: 500px;
  .signature-line{
    text-align: center;
  }
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}