$primaryColor : #E4C517;

$headerColor: #BC5A49;
$headerTitleColor: #FFF;
$accentColor: #D06351;
$linkHoverColor: rgba(135, 189, 223, .2);

$footerBackground: #87BDDF;
$footerBorderColor: #5899BA;

$sansFamily: "Raleway", Arial, sans-serif;
$serifFamily: "Baskervville", Times, serif;

$max-width: 1200px;

$gutter: 2%;