@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
    text-align: center;
    padding:0;
    margin:0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight:300;
}
header,
footer {
    background-color: #FFF;
    margin:0;
	color: #000;
	padding: 10px;
}

header{
    border-bottom:1px solid lightseagreen;
}

footer {
	font-size: 13px;
	letter-spacing: 1.5pt;
}

h1,
h2 {
	margin: 0;
}

h2, #currentdate {
	color: goldenrod;
}

main {
    position:relative;
    border:1px solid lightgray;
	margin: 10px auto;
    border-radius:1em;
	padding: 10px;
    max-width: 500px;
    background-color:#F0F0F0;
}

main:before, main:after{
    z-index: -1;
    position: absolute;
    border-radius:1em;
    content: "";
    bottom: 20px;
    left: 5px;
    width: 50%;
    top: 90%;
    max-width:700px;
    background: #444;
    -webkit-box-shadow: 0 15px 10px #444;
    -moz-box-shadow: 0 15px 10px #444;
    box-shadow: 0 15px 10px #444;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
main:after{
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    right: 5px;
    left: auto;
}

.error-highlight{
    background-color: blanchedalmond;
}

.github-link{
    padding:0;
    margin:0;
    vertical-align:middle;
}

.github-link span{
    position: relative;
    top: -8px;
    margin:0;
    height:30px;
}
.github-link img{
    padding:0;
    margin:0;
    width: 30px;
}

h3 {
	font-size: 24px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #8091C4;
	padding: 0;
}

label {
	display: block;
	margin: 5px;
}
table{
    width:100%;
}

table input, input, select{
    text-align:center;
    border:0px collapse;
    width:95%;
    height:2em;
    font-size:12pt;
}

table h4{
    padding:0;
}

table .left-align{
    text-align:left;
}

table .right-align{
    text-align:right;
}

table .highlight-row{
    color:green;
    font-weight:bold;
}

button{
    border:0px;
    background-color: rgb(13, 128, 122);
    color:#FFF;
    border-radius:.5em;
    font-size:14pt;
    padding:.5em;
    transition:background-color .2s;
}

button:hover{
    cursor:pointer;
    background-color: lightseagreen;
    color:rgb(10, 92, 88);
}